.lista{
  align-items: center;
  color: #00137d;
  text-align: center;
  font-size: 150%;
  font-weight: 500;
  border: 2px solid #00137d ;
  border-radius: 14px;
  width: 10%;
}
.lista1{
  color: #00137d;
  text-align: center;
  font-size: 150%;
  font-weight: 500;
}
.list{
  display: flex;
  flex-direction: column;
  align-items: center;
}
