.lista{
  align-items: center;
  color: #00137d;
  text-align: center;
  font-size: 150%;
  font-weight: 500;
  border-radius: 14px;
  width: 100%;
  border: 2px solid #00137d;
  font-family: "poppins";

}
.lista1{
  color: #00137d;
  text-align: center;
  font-size: 150%;
  font-weight: 500;
  font-family: "poppins";
}
.list{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "poppins";
}
